.homeBanner {
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  position: relative;
}
.homeBannerImg {
  height: 80vh;
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.greyBackgroundHomeBanner {
  height: 60vh;
  background-color: rgb(238, 235, 235);
}
.homeBannerItemDiv {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20p;
  padding: 0 20px;
  top: 28%;
  position: absolute;
  width: 98%;
}
.homeBannerItemDivCard {
  display: flex;
  flex-direction: column;
  padding: 20px 0 15px;
  width: 343px;
  background-color: white;
  box-sizing: border-box;
}
.homeBannerItemDivCardTitle {
  margin: 0 20px;
  font-size: 21px;
  font-weight: 700;
}
.imgHomeBannerItemDivCard {
  margin: 10px 20px;
  display: grid;
  grid-template-columns: auto auto;
}
.imgBannerHomeDiv {
  height: 144px;
  width: 144px;
  display: flex;
  flex-direction: column;
}
.imgBannerHomeDivImg {
  width: 100%;
}
.imgBannerImgName {
  font-size: 12px;
  font-weight: 500;
}
.seeMoreHomeBanner {
  margin: 0 20px;
  font-size: 13px;
  font-weight: 600;
  color: #007185;
}
